.Editor {
  display: flex;
  gap: 10px;
}

.Editor > input {
  flex: 1;
  padding: 15px;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 5px;
}

.Editor > input:focus {
  outline: none;
  border: 1px solid yellowgreen;
}

.Editor button {
  cursor: pointer;
  width: 80px;
  border: none;
  background-color: yellowgreen;
  color: white;
  border-radius: 5px;
}
